doctype html
html
    head
        include head.pug
    body
        form(action='/adduser', method='post')
            include topbar_adduser.pug
            div(class='container adduser-form')
                h6 회원 목록
                div(class='list-group')
                    each item in data.user_list
                        - var chkboxVal = item['user_id'];

                        a(class='list-group-item list-group-action align-items-center')
                            label(class='checkbox-container')
                                span(class='fa fa-user fa-2x mr-2')
                                span #{item.user_name}
                                input(type='checkbox', name='user_list', id='user_list', value=chkboxVal)
                                span(class='checkbox-checkmark')
