div(class='fixed-bottom')
    form(action="", class='col-12 navbar navbar-dark bg-dark')
        div(class='input-group')
            textarea(id='msg', autocomplete='off', type='text', class='form-control' rows='1')
            div(class='input-group-append')
                button(class='btn btn-outline-secondary', type='submit') 전송
