div(class='fixed-bottom')
    div(class='d-flex navbar-dark bg-dark')
        form(id='send-msg', action="", class='col-12 p-1')
            div(class='input-group')
                //div(class='input-group-prepend')
                    button(class='btn btn-outline-secondary', type='button')
                        span(class='fas fa-plus')
                textarea(id='msg', autocomplete='off', type='text', class='form-control' rows='1')
                div(class='input-group-append')
                    button(class='btn btn-outline-secondary', type='submit') 전송
    //div(class='d-flex navbar-dark bg-dark')
        form(id='send-img', action="/room/upload", enctype='multipart/form-data', class='col-12 p-1')
            input(id='input-file', type='file')
            div(class='input-group')
                div(class='input-group-prepend')
                    button(class='btn btn-outline-secondary', type='button')
                        span(class='fas fa-arrow-left')
                div(class='form-control', class='mw-50 mh-50', style='height: 180px')
                    img(id='img' class='img-responsive mx-auto d-block', style='max-height: 100%;')
                div(class='input-group-append')
                    input(class='btn btn-outline-secondary', type='submit', value='전송')
    //div(class='progress')
        div(class='progress-bar progress-bar-striped active', role='progressbar', aria-valuenow='0', aria-valuemin='0', aria-valuemax='100', style='width: 0%;')
            span(class='sr-only')