doctype html
html
    head
        include head.pug
    body(class='login-page')
        div(class='container', style='max-width:480px;')
            div(class='row justify-content-center')
                div(class='col-sm-12 mt-5 mb-5 pl-5 pr-5')
                    img(src='/images/logo.png' class='mx-auto d-block img-fluid' alt='app logo')
                div(class='col-sm-8 align-self-center mt-2 mb-2 pl-5 pr-5')
                    a(href='/login/auth/naver')
                        img(src='/images/네이버 아이디로 로그인_완성형_Green.PNG', class='img-fluid')
                div(class='col-sm-8 align-self-center mt-2 mb-2 pl-5 pr-5')
                    a(href='/login/auth/google')
                        img(src='/images/구글 아이디로 로그인_완성형_White.PNG', class='img-fluid')

