doctype html
html
    head
        include head.pug
        script(src='/javascripts/room.js')
        link(rel='stylesheet', href='/stylesheets/style_imgmodal.css')
    body
        include topbar_room.pug
        ul(class='chat-list' id='msg_list')
        // Modal
        div(id='img-modal', class='img-modal')
            a(id='img-modal-down-link' download)
                span(class='img-modal-down')
                    i(class='fas fa-file-download')
            span(class='img-modal-close')
                i(class='fas fa-times')
            img(class='img-modal-content' id='img-modal-content')
        include bottom_room.pug
