div(class='container-fluid fixed-top bg-dark')
    div(class='row')
        div(class='col-10 d-flex flex-row align-items-center pl-0')
            div(class='p-2 bd-highlight')
                a(href='/userlist')
                    button(class='btn btn-sm btn-outline-secondary', type='button')
                        span(class='fa fa-angle-left')
            div(class='p-2 bd-highlight')
                span(class='text-left text-white') #{title}
        div(class='col-2 d-flex flex-row-reverse align-items-center pr-2')
            div(class='p-2 bd-highlight')
                button(type='submit', class='btn btn-sm btn-outline-secondary')
                    span(class='text-white') 추가
